* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

/* Common */
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    border: 1px solid #000958;
    color: #000958;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.4rem; /* 100% */
    background: #fff;
}

.btn:hover {
    cursor: pointer;
}
.btn--primary {
    color: #fff;
    background: #ff5b2e;
    border-color: #ff5b2e;
}

.section-heading {
    color: #000958;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.2rem; /* 119.231% */
}

.section-desc {
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem; /* 187.5% */
}

/* Header */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 8px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem; /* 100% */
}

.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #000958;
}

.header-action__sign-up {
    --height: 50px;
    min-width: 118px;
    transition: 0.25s;
}

.header-action__sign-up:hover {
    background: #ff5b2e;
    border-color: #ff5b2e;
    transform: scale(1.05);
    color: #fff;
}

.btn__icon {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* hero */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
    position: relative;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 16px;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    top: 16.7px;
    right: -42px;
}

.hero__img-wrap-small {
    width: 18.6rem;
    height: 24.4rem;
    border-radius: 1.6rem;
    background: #faa7ad;
    align-self: flex-end;
    margin-left: -24px;
    margin-bottom: -58px;
    border: 2px solid #fcdddf;
}

.hero__list {
    width: 25rem;
    height: 15.6rem;
    border-radius: 1rem;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    padding: 18px 14px;
    position: absolute;
    left: 129px;
    bottom: 0;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background: #fec23f;
}

.hero-list-item {
    display: flex;
}

.hero-list-item__info {
    margin-left: 10px;
}

.hero-list-item__title {
    color: #181e52;
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4rem; /* 100% */
}

.hero-list-item__skeleton {
    margin-top: 6px;
    width: var(--width, 11.8rem);
    height: 0.4rem;
    border-radius: 1rem;
    opacity: 0.08;
    font-weight: 600;
    background: #000958;
}

.hero-list-item__skeleton:last-child {
    --width: 39px;
}

.hero-list-item__separate {
    width: 100%;
    height: 0.2rem;
    margin: 20px 0;
    background: #f2f2f2;
    border-radius: 99px;
}

.hero__heading {
    color: #000958;
    font-family: Sora;
    font-size: 6.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 7.6rem; /* 115.152% */
}

.hero__desc {
    width: 39.1rem;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem; /* 187.5% */
    margin-top: 24px;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__cta-btn {
    --height: 60px;
    min-width: 190px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    font-size: 1.6rem;
    font-weight: 600;
    transition: 0.25s;
}

.hero__cta-btn:hover {
    transform: scale(1.05);
}

.hero__cta-link {
    color: #000958;
    text-align: center;
    margin-left: 24px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6rem; /* 100% */
    text-decoration-line: underline;
}

/* About */
.about {
    margin-top: 207px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 123px;
}

.about__media {
    position: relative;
    height: 551px;
}

.about__label {
    color: #5e6085;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.6rem; /* 100% */
}

.about__heading {
    margin-top: 15px;
    width: 44.6rem;
}

.about__desc {
    width: 431px;
}

.about__checklist {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 36px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    row-gap: 34px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.8rem; /* 100% */
}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}

.about__check-item::after {
    position: absolute;
    top: 2px;
    left: 4px;
    content: url(../icon/check-icon.svg);
}

.about__card {
    width: 13.6rem;
    border-radius: 1rem;
    padding: 30px 26px;
    background: #5bd6e2;
    text-align: center;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    position: absolute;
    top: 90px;
    left: 0;
}

.about__card-title {
    color: #fff;

    font-size: 4.2rem;
    font-weight: 700;
    line-height: 4.2rem; /* 100% */
}

.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem; /* 142.857% */
}

.about__card-decor {
    position: absolute;
    top: -38px;
    left: 85px;
}

.about__background {
    position: absolute;
    left: 92px;
    bottom: 0;
    z-index: -1;
    width: 49.4rem;
    height: 33.6rem;
    flex-shrink: 0;
    border-radius: 1.6rem;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}

.about__img {
    height: 60.2rem;
    display: block;
    transform: scaleX(-1);
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: -85px;
}

.about__img-wrap {
    width: 45.8rem;
    height: 50rem;
    flex-shrink: 0;
    border-radius: 1.8rem;
    background: #a0c9ed;
}

.about__decor {
    position: absolute;
}

.about__vector-10 {
    top: 1.25rem;
    right: 19.2rem;
}

.about__vector-8 {
    top: -1.6rem;
    right: 14rem;
}

.about__vector-9 {
    top: 3.3rem;
    right: 10.6rem;
}

.about__vector-11 {
    top: 26.8rem;
    right: 9.4rem;
}

.about__vector-12 {
    top: 33.6rem;
    right: 14.6rem;
}

.about__ellipse-19 {
    right: 105px;
    bottom: 10px;
}

.about__ellipse-18 {
    right: 94px;
    bottom: 6px;
}

.about__ellipse-17 {
    right: 84px;
    bottom: -3px;
}

.about__desc-bottom {
    width: 511px;
    margin-bottom: 50px;
}

.tab__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab__item {
    display: flex;
    align-items: center;
}

.tab__title {
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.8rem; /* 100% */
    margin-left: 1.09rem;
}

.tab {
    width: 55.7rem;
}

.tab__line {
    position: absolute;
    border-radius: 99px;
}

.tab__contents {
    padding-top: 36px;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__content-desc {
    width: 39.1rem;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem; /* 171.429% */
}

.tab__content-more {
    position: relative;
    display: inline-block;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6rem; /* 100% */
    margin-top: 32px;   
}

.tab__content-more::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: -3px;
    height: 1.5px;
    border-radius: 1px;
    background: #ff5b2e;
}